<%- include("partials/header.ejs") %>


<div class="blog-wrapper">
    <div class="blog-title">
        <h1 class="b-title">
           <%=btitle %>
        </h1>
        <h2 class="author">Thursday Thoughts by Lojan Essam</h2>
    </div>
    
    
    <div class="blog-material">
        <p class="blog">
            <%= bblog %>
        </p>
    </div>
    

    <div class="buttons">

    <form id="edit-form">
      <button><a href="/edit/<%= btitle %>">Edit</a></button> 
    </form>
    <form id="delete-form" action="/blog/<%= btitle %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
     </div>
    
    
</div>




<%- include("partials/footer.ejs") %>