<%- include("partials/header.ejs") %>

<div class="blog-title">
    <h1>
       <%=btitle %>
    </h1>
</div>


<div class="blog-material">
    <p>
        <%= bblog %>
    </p>
</div>

<form id="edit-form" method = 'get' action ='/edit'>
    <button type="submit">Edit</button>
</form>
<form id="delete-form" action="/blog/<%= btitle %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
</form>






<%- include("partials/footer.ejs") %>